body{
	margin: 4%;
	background-color: #FFFFFF;
	}
h2, .fig {
	text-align: center;
	}/* Вирівнюванння по центру */ 

p, ul {
	margin-left:30%;	
	font-size: 16pt;
	} /*відступ і розмір шрифту абзаців і списку*/

hr {width: 45%}
/*горизонтальна лінія*/
      
